.hide-child .child {
  opacity: 0;
  transition: opacity 0.15s ease-in;
}
.hide-child:active .child,
.hide-child:focus .child,
.hide-child:hover .child {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 1.2vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#main {
  z-index: -1;
}
