html,
body {
  font-size: 14px;
}

/*Maps*/

.map-diff-line {
  grid-area: "map-diff-line";
  margin: 0 auto;
  padding: 0;
  width: 0%;
  background-color: #ccc;
}

.map {
  height: 47vh;
  background-color: blue;
}
#maps:hover #mouse_tip {
  display: block;
}

.leyendaHover:hover #leyendaIntegral {
  display: block;
}
.leyendaHover:hover #leyendaMin {
  display: none;
}

#mouse_tip {
  display: none;
  position: absolute;
  float: left;
  word-break: break-word;
  z-index: 10000;
  width: 115px;
  font-size: small;
  background-color: rgba(200, 50, 50, 0.5);
  color: rgb(0, 255, 0);
  font-weight: bold;
  text-align: left;
}

.leyendaHover #leyendaIntegral {
  display: none;
}
.leyendaHover #leyendaMin {
  display: block;
  height: 15vh;
}

.h1 #map1_text {
  font-size: 4vh !important;
  font-weight: bold;
}

#map1_text {
  display: flex;
  position: fixed;
  bottom: 47vh;
  left: 52vw;
  z-index: 1000;
  color: white;

  font-size: 4vh;
  font-weight: bold;
}

#map2_text {
  display: flex;
  position: fixed;
  bottom: 2vh;
  left: 52vw;
  z-index: 1000;
  color: white;

  font-size: 4vh;
  font-weight: bold;
}

#map2_controls {
  display: flex;
  position: fixed;
  font-size: 1.5vh;
  bottom: 2vh;
  left: 52vw;
  z-index: 1000;
  color: white;
}

#tabsPanel {
  max-height: 45vh;
  overflow: auto;
  border: 1px solid black;
  /*margin: 10px;*/
}

#tabsPanel p {
  font-size: 12px;
}

#mapControls {
  height: 16vh;
  overflow: visible;
}

.rightPanel {
  height: 100vh;
  padding-right: 1em;
  padding-left: 1em;
}

.chart {
  position: relative;
  height: 22vh;
  max-height: 320px;
  overflow: auto;
}

/*#radio_container{
    border: 1px solid white;
    padding-bottom: 1px;
    text-align: center;
  }



.radio_btn{
    margin-bottom: 2px;
    -webkit-appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    outline: none;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: white;
  }
  /*

  <h3 id="map2_controls">Escenarios</h3>

  #map2_controls{

    display: flex; 
    position: fixed;
    font-size: 1vh;
    bottom: 1vh;
    left: 55vw;
    z-index: 1000;
    color: white;
  }*/
