    .map-diff-line {
      grid-area: "map-diff-line";
      margin: 0 auto;
      padding: 0;
      width: 0%;
      background-color: #ccc;
    }

    .map {
      height: 46vh; /*make relative*/
      background-color: blue;
    }

    .leyendaHover:hover #leyendaIntegral {
       display: block;
      }
    .leyendaHover:hover #leyendaMin {
       display: none;
      }

    .leyendaHover #leyendaIntegral {
       display: none;
      }
    .leyendaHover #leyendaMin {
       display: block;
       height: 15vh;
      }
  