html,
body {
  font-size: 14px;
}


a {
  color: steelblue;
}
a:hover{
  text-decoration: underline;
  color:royalblue;
  font-size:large;
}

.navbarLink:hover{
  text-decoration: none;
  color:inherit;
  font-size:inherit;
}
.map-diff-line {
  grid-area: "map-diff-line";
  margin: 0 auto;
  padding: 0;
  width: 0%;
  background-color: #ccc;
}

.map {
  height: 47vh;
}

.leyendaHover:hover #leyendaIntegral {
  display: block;
}
.leyendaHover:hover #leyendaMin {
  display: none;
}

.leyendaHover #leyendaIntegral {
  display: none;
}
.leyendaHover #leyendaMin {
  display: block;
  /*height: 15vh;*/
}

.h1 #map1_text {
  font-size: 4vh !important;
  font-weight: bold;
}

#maps:hover #mouse_tip {
  display: block;
}

.leyendaHover:hover #leyendaIntegral {
  display: block;
}
.leyendaHover:hover #leyendaMin {
  display: none;
}

#mouse_tip {
  display: none;
  position: absolute;
  float: left;
  word-break: break-word;
  z-index: 10000;
  width: 115px;
  font-size: medium;
  /*background-color: rgba(200, 50, 50, 0.5);*/
  color: white;
  /*font-weight: bold;*/
  text-align: left;
  border: black;
}

.leyendaHover #leyendaIntegral {
  display: none;
}
.leyendaHover #leyendaMin {
  display: block;
  /*height: 15vh;*/
}

.h1 #map1_text {
  font-size: 4vh !important;
  font-weight: bold;
}

#map1_text {
  display: flex;
  position: fixed;
  bottom: 47vh;
  left: 52vw;
  z-index: 1000;
  color: white;

  font-size: 4vh;
  font-weight: bold;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#map2_text {
  display: flex;
  position: fixed;
  bottom: 4vh;
  left: 52vw;
  z-index: 1000;
  color: white;

  font-size: 4vh;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.mapControls {
  z-index: 500;
  padding: 1vh;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

#mapTitle {
    position: absolute;
    top: 60px;
    left: 28%;
}

#map2_controls {
  display: flex;
  position: fixed;
  font-size: 1.5vh;
  bottom: 2.5vh;
  left: 52vw;
}

#map2_controls_yrs{
  display: flex;
  font-size: 1.5vh;
  left: 3vw;
  min-width: 30px;
  max-width: 500px;
}

#map2_legend{
  position: absolute;
  bottom: 10px;
  left: 10px;
  min-width: 30px;
  max-width: 500px;
  max-height: 1400px;
}


#tabsPanel {
  border: 1px solid black;
}

#tabsPanel p {
  font-size: 12px;
}

#mapControls {
  height: 16vh;
  overflow: visible;
}

.rightPanel {
  height: 94vh;
  padding-right: 1em;
  padding-left: 1em;
  overflow: scroll;

}

.chart {
  position: relative;
  height: 36vh;
  /*max-height: 320px;*/
  overflow: auto;
}

#rightPanelPampa h4{
  color: #7fc46f;
}


/* Landing page */ 

.titulo {
      font-size: xx-large;
      text-align: center;
      position: absolute;
      top: 30vh;
      left: 0;
      right: 0;
      color: white;
      margin: 0 30vh;
    }

.coolButtonSmall {
    background-color: black;
    color: white;
    opacity: .7;
    border: 2px solid white;
    max-width: 60vh;
    margin: 0 5vh;
    font-size: x-large;
}
.coolButtonSmall:hover{
  background-color: saddlebrown;
}

.coolButtonTexts{
    font-size: large;
    font-style: italic;
}
